*{margin: 0;}

main{
    height: 82vh;
    background-image: url("../img/peru-r.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div {
    display: flex;
    flex-direction: column;
    width: 50%;
}
div form{
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}
input{
    padding: 10px;
    margin-bottom: 20px;
}
h1{
    /*color: blueviolet;*/
    display: flex;
    justify-content: center;
}
textarea{
    margin-top: 1%;
    margin-bottom: 1%;
}