*{margin: 0;}

main{
    height: 82vh;
    background-image: url("../img/peru-rr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

main div {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
    align-items: center;
    color: white;
}

div form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
input{
    padding: 10px;
    margin-bottom: 20px;
}

h1{
    display: flex;
    justify-content: center;
}