*{
    margin: 0;
}
img{
    width: 40px;
    height: 40px;
}
header{
    display: flex;
    justify-content: space-around;
}
header div{
    display: flex;
}
header ul{
    
    border: 5px solid rgb(255, 0, 0);
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
header ul li{
    border: 5px solid cyan;
    display: flex;
    align-items: center;
}
.liste{
    width: 100%;
}